/* -------------- whole doc ----------------- */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Archivo Black';
  src: url('../src/fonts/Archivo_Black/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url('../src/fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
p,
li {
  color: white;
  font-family: 'Dela Gothic One', sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.6rem;
}

p,
li {
  font-size: 1.2rem;
}

li {
  margin-left: 30px;
}

a {
  text-decoration: none;
}

a>h3:hover,
a>p:hover {
  color: rgb(57, 57, 57);
}


/* spacing */

.content {
  width: 100%;
  background-color: #E1D6C3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backgroundCard,.projectCard,.projectShowcasePage{
  border-radius: 30px;
  margin: 3rem;
  padding: 3rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  width: 80%;
}

/* Header */
.header {
  height: 15vh;
  background-color: #8DB49A;
  display: inline-flex;
  padding: 0rem 5%;
  width: 90%;
  align-items: center;
}

.headerIcon {
  width: 12%;
}

.headerIcon>img {
  object-fit: fill;
}

a>svg {
  width: 70%;
  height: auto;
}

svg>.heartIcon {
  fill: #EF7251;
}

svg>.initials {
  fill: white;
}

.navItems {
  display: inline-flex;
  align-items: center;
  width: 88%;
  justify-content: flex-end;
}

.navItems>a {
  margin: 1rem;
  flex-wrap: nowrap;
}

/* footer */

.footer {
  background-color: #8DB49A;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  left: 0;
}

.contactIcons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactIcons a {
  margin: 0 5%;
  height: 80%;
  width: auto;
}

.svgIcon {
  height: 4rem;
  width: auto;
}

/* homepage */
.homePage {
  background-color: #EF7251;
  height: 85vh;
}

.headshot {
  height: 100%;
}

.headshot>img {
  object-fit: cover;
  object-position: center;
}

.nameBubble {
  position: absolute;
  top: 30%;
  left: 40%;
  background-color: #E5AAC9;
  border: 20px white solid;
  border-radius: 30px;
  text-align: center;
  margin: 1;
  padding: 0 1.5rem;
}

.descriptionBubble {
  position: absolute;
  top: 70%;
  left: 60%;
}

.sideBarText{
  align-items: center;
  background-color: #E1D6C3;
  color: #3560DB;
  display: flex;
  flex-direction: column;
  height: 4rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  white-space: nowrap;

}


/* projectCard */

.projectCard {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.projectCard.odd{
  flex-direction: row-reverse;
}
.readMore {
  text-decoration: underline;
}

.projectWords{
  width: 45%;
}

.projectVideoContainer{
  width: 45%;
  height: 20rem;
  display: flex;
  align-items: center;
}

.projectVideo{
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* aboutMe */
.backgroundCard{
  background-color: #DDB954;
}

.aboutMeHeader {
  color: #E28836;
}

.resumeText {
  color: #E28836;
  text-decoration: underline;
}

.resumeText:hover {
  color: rgb(57, 57, 57);
}

/* project page */



.projectLink {
  text-decoration: underline;
  text-decoration-color: white;
}

.projectLink:hover {
  text-decoration-color: rgb(57, 57, 57);
}

.carouselContainer {
  border-radius: 30px;
  margin: 1rem 0rem;
}

.projectPage{
  display: flex;
  flex-direction: column;
}

.sideBarText.project{
  align-items: flex-start;
}
/* image Gallery */

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.carouselImage {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.carousel>button {
  background-color: none;
  color: white;
  background: none;
  border: none;
  font-size: 3.5rem;
  padding: 0 0rem;
  cursor: pointer;
  width: 5%;
  height: auto;
}




@media only screen and (max-width: 1100px) {

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p,
  li {
    font-size: 1.2rem;
  }

  .nameBubble {
    left: 45%;
  }

  .projectCard.even, .projectCard.odd{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectWords{
    width: 100%;
  }

  .projectVideoContainer{
    width: 80%;
    margin: 1rem 0;
  }


}

@media only screen and (max-width: 900px) {

  .navItems {
    flex-direction: column;
    align-items: flex-end;
  }

  .navItems>a {
    margin: 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

}


@media only screen and (max-width: 715px) {

  .headshot,.descriptionBubble{
    position: static;
  }

  .headshot {
    width: 40%;
    height: auto;
    border: white 5px solid;
    border-radius: 30px;
  }

  .homePage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 85vh;
    align-items: center;
    width: 100%;
  }

  .nameBubble > h1 {
    font-size: 1.5rem;
    margin: 0 .5rem;
  }

  .nameBubble{
    border: 5px solid white;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
  }

  .descriptionBubble{
    text-align: center;
    padding: 0 1rem;
  }


  .projectCard,.backgroundCard,.projectShowcasePage{
    margin: 2rem;
    padding: 2rem;
  }

  a>svg{
    width: 100%;
    height: 100%;
  }

  .carousel>button{
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 600px){
  .projectCard,.backgroundCard,.projectShowcasePage{
    margin: 1.5rem;
    padding: 1.5rem;
  }

  .sideBarText{
    font-size: 1.5rem;
    top: 1rem;
  }

  .projectCard > h1{
    font-size: 1.5rem;
  }

  .projectCard > p{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px){
  .homePage{
    flex-direction: column;
    justify-content: flex-start;
  }

  .nameBubble{
    position: static;
    flex-direction: column;
    transform: none;
    margin: 1rem 0;
  }

  .headshot {
    width: 60%;
  }

  .headerIcon{
    width: 35%;
  }

  .navItems{
    width: 65%;
  }

  .descriptionBubble{
    margin: 1rem 0;
  }

  a> svg{
    width: 60%;
    height: 60%;
  }

  .content.projectPageContent{
    width: 95%;
  }

  .carouselContainer{
    padding: 0rem;
    margin: 1rem 0rem;
  }

  .content.projectPageContent{
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 500px){
  h1{
    font-size: 1.5rem;
  }

  p,li{
    font-size: 1rem;
  }

  .projectVideoContainer{
    width: 95%;
    height: auto;
  }

  .sideBarText{
    height: auto;
    padding-bottom: 0;
  }

}