/* -------------- whole doc ----------------- */
* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #E1DAD0;
  width: 100%;
  overflow-x: hidden;
}

h1{
  font-size: 5rem;
  font-weight: 100;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.3rem;
}

p{
  font-size: 1rem;
}

h2,h3,h4,p{
  color: rgb(61, 60, 60);
}

a{
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

a:visited{
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

/* -------------------sections general ------------*/ 
.section{
  font-family: 'Noto Sans JP';
  text-align: center;
  margin: 0rem ;
}

.sectionHeader{
  color: rgb(0, 0, 0);
  font-family: 'Noto Sans JP';
  background-color: white;
  padding: 1rem 0rem;
  margin: 1rem 0rem;
}

.icon{
  height: 8rem;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

/* -------------------------header ----------------*/
.headerText{
  font-family: 'Noto Sans JP';
  display: inline-flex;
  margin: 1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.header{
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

/* -------------------splash ------------------------ */
.profilePic{
  width: 38rem;
  height: 38rem;
  position: absolute;
}

.profilePic img{
  width: 38rem;
  height: 38rem;
  position: relative;
  display: flex;
  margin: auto;
}



.nameSplash{
  padding: 1rem;
  font-family: 'Mrs Sheppards';
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  margin-bottom: 28rem;
}

.splash {
  justify-content: center;
  background-color:#E1DAD0;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorSelect{
  display: inline-flex;
  margin: 1rem;
  z-index: 100;
}

.circle{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin: 0rem .4rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.circle:hover{
  transform: scale(1.2);
}

/* ---------------- about me ----------------*/
.bio{
  text-align: center;
  padding: 5% 10%;
}

.tldrContainer{
  display: flex;
  padding: 0% 10% 5% 10%;
  align-items: center;
}

.tldr{
  font-family: 'Noto Sans JP';
  font-weight: 400;
  color:#ED0EE4;
  padding: 1rem;
}

.tldrText{
  text-align: left;

}

/* ---------------- skills-------------------*/
.icons{
  padding: 5% 10%;
}

.skillIconContainer {
  position: relative;
  display: inline-block;
}

.icon.skill:hover{
  filter: blur(0px);
}

.skillName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 227, 208);
}

/* ---------------- projects-------------------*/
.projectIconContainer{
  display: inline-flex;
  padding: 5% 10%;
  flex-wrap: wrap;
  justify-content: center;
}

.project{
  border-radius: 50%;
  margin: 1rem;
  cursor: pointer;
}

/* ---------------- contact me-------------------*/
.contact{
  cursor: pointer;
}

.contactIconContainer{
  padding: 5% 10%;
}

/* ------------- project pop up ---------- */
.projectPage{
  width: 70%;
  max-width: 90vh;
  padding: 2.5rem;
  max-height: 80vh;
  background-color: #E1DAD0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 110;
  border: .2rem solid rgb(186, 183, 177);
  border-radius: 2rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project.icon{
  height: 12rem;
  width: 12rem;
}
.projectName{
  font-family: 'Noto Sans JP';
  color: white;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 1px 1px 2px #000000;
}

.imgScreenshot{
  height: 18rem;
  width: 24rem;
}

.closeButton{
  position: fixed;
  right: 1rem;
  top:1rem;
  z-index: 2;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #E1DAD0;
  border-radius: .2rem;
  border: .2rem darkgray solid;
  color: white;
}


/* ------------ color change ----------- */
.greenHover:hover, .greenText{
  color:#248249;
}

.purpleHover:hover, .purpleText{
  color:#ED0EE4;
}

.orangeHover:hover, .orangeText{
  color:#F57A45;
}

.purple{
  background-color: #ED0EE4;
}

.green{
  background-color: #248249;
}

.orange{
  background-color: #F57A45;
}

/* --------------- responsive design ------------------*/


@media screen and (max-width: 900px){
  .projectIconContainer{
    display: inline-flex;
    padding: 5% 2%;
  }
}

@media screen and (max-width: 750px){
  .projectIconContainer{
    display: inline-flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 608px){
  .profilePic{
    width: 90%;
    height: auto;
  }
  
  .profilePic img{
    width: 100%;
    height: auto;
  }
  
  .nameSplash{
    overflow: visible;
    margin-bottom: 80%;
    padding: 0rem;
  }
  
  .splash {
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 550px){

  .nameSplash h1{
    font-size: 3.5rem;
  }

  .header{
    flex-direction: column;
    align-items: center;
  }

  .headerText{
    margin: 0.3rem ;
    font-size: 1rem;
  }

  .sectionHeader{
    font-size: 1.5rem;
  }

  .imgScreenshot{
    height: auto;
    width: 18rem;
  }
}